# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.sls ##}
{% import_yaml 'template/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'Suse': {},
        'Arch': {
            "pkg" : 'template-arch',
        },
        'RedHat': {
            "config": '/etc/template.conf',
        },
  }
  , grain="os_family"
  , merge=salt['pillar.get']('template:lookup'))
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.template.update(os_family_map) %}

{## Merge in template:lookup pillar ##}
{% set template = salt['pillar.get'](
        'template',
        default=default_settings.template,
        merge=True
    )
%}
