---
name: Test & release

'on':
  - pull_request
  - push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != format('refs/heads/{0}',
                          github.event.repository.default_branch) }}

jobs:
  should-run:
    name: Prep / Should run
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      should-run: ${{ steps.action.outputs.should-run }}
    steps:
      - id: action
        # yamllint disable-line rule:line-length
        uses: techneg-it/should-workflow-run@eff19348eb884f57e05bc6f05ae48ece3af14714 # v1.0.1
  pre-commit:
    name: Lint / `pre-commit`
    needs: should-run
    if: fromJSON(needs.should-run.outputs.should-run)
    container: techneg/ci-pre-commit:v2.5.21@sha256:b50f05625ca87de51b04015572a1db46007b537f184d3e05746bca57a5754a72
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - run: | # Needed because of bug #2031 in `actions/checkout`
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          fetch-tags: true
          filter: tree:0
      - name: Export `CI_CACHE_ID` from container
        run: echo "CI_CACHE_ID=$(cat /.ci_cache_id)" >> $GITHUB_ENV
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cache/pre-commit
          key: "${{ env.CI_CACHE_ID }}|\
                ${{ hashFiles('.pre-commit-config.yaml') }}"
          restore-keys: |
            ${{ env.CI_CACHE_ID }}|
      - name: Build cache
        run: |
          pre-commit gc
          echo "Installing hook environments..."
          time -f "Hook installation took %E" pre-commit install-hooks
      - name: Run `pre-commit`
        run: |
          pre-commit run --all-files --color always --verbose
          pre-commit run --color always --hook-stage manual --verbose commitlint-ci
  test:
    name: Test / Kitchen
    needs:
      - pre-commit
      - should-run
    if: fromJSON(needs.should-run.outputs.should-run)
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        platform:
          - debian-12-master
          - debian-11-master
          - ubuntu-2404-master
          - ubuntu-2204-master
          - ubuntu-2004-master
          - debian-12-3007
          - debian-11-3007
          - ubuntu-2404-3007
          - ubuntu-2204-3007
          - ubuntu-2004-3007
          - debian-12-3006
          - debian-11-3006
          - ubuntu-2404-3006
          - ubuntu-2204-3006
          - ubuntu-2004-3006
    steps:
      - name: Debug on runner (When re-run with "Enable debug logging" checked)
        if: runner.debug
        uses: mxschmitt/action-tmate@c0afd6f790e3a5564914980036ebf83216678101 # v3.23
        with:
          detached: true
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ruby/setup-ruby@ac793fdd38cc468a4dd57246fa9d0e868aba9085 # v1.270.0
        with:
          bundler-cache: true
          ruby-version: '3.1'
      - run: |
          bin/kitchen verify ${{ matrix.platform }}
  results:
    name: Release / Collect results
    permissions:
      contents: write
      issues: write
      pull-requests: write
      checks: read
    container: techneg/ci-semantic-release:v1.2.19@sha256:3a9dc0df231f093eaf05c117e3055383c356376d4c6a18737aeaaaf128241166
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - run: |  # Needed due to bug actions/checkout#2031
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      # yamllint disable-line rule:line-length
      - uses: poseidon/wait-for-status-checks@899c768d191b56eef585c18f8558da19e1f3e707 # v0.6.0
        with:
          ignore: >
            Release / Collect results,
            Test / Kitchen (debian-12-master),
            Test / Kitchen (debian-11-master),
            Test / Kitchen (ubuntu-2404-master),
            Test / Kitchen (ubuntu-2204-master),
            Test / Kitchen (ubuntu-2004-master)
          ignore_pattern: ^GitLab CI
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run `semantic-release`
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MAINTAINER_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          semantic-release --dry-run
      - run: echo "::notice ::Workflow success!"
